@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-BLACK.TTF') format('truetype');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-REGULAR.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-SEMIBOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-BOLD.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-LIGHT.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

Link {
  text-decoration: none;  
}

.App {
  text-align: center;
  background-color: #ECEFF4;
  color: #28292C;
  padding: 50px 120px 0px;
  font-family: 'Mont';

}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 790px;
  margin-bottom: 37px;
}

.Header > div {
  display: flex;
  gap: 40px;
}

.Header > div > a {
  font-size: 28px;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 37.95px;
}

.EventCard {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: left;
}

.EventCard.reversed {
  flex-direction: row-reverse;
}

.EventCard > div {
  display: flex;
  flex-direction: column;
}

.EventCard > div > h2 {
  font-weight: 950;
  font-size: 48px;
  margin-bottom: 44px;
}

.EventCard > div > p {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 44px;
}

.Button.event-list {
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #1941D1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 30px;
}

.events-list-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 55.95px;
}

.slick-slide {
  width: 600px !important;
  height: 600px !important;
  opacity: 0.6 !important;
}

.slick-center {
  opacity: 0 !important;
}

/*Страница мероприятия*/
.event-hero {
  margin-top: 46px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5)),
    url('./img/np-hero.png') center/cover;
  padding-top: 325px;
  padding-bottom: 55px;
  border-radius: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 195px;
}
.hero-title {
  font-size: 96px;
  font-weight: 950;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.event-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}
.event-desc p {
  font-weight: 600;
  font-size: 32px;
  text-align: start;
  color: #28292C;
}
.event-desc > div > img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
}
.event-desc-img {
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
}

.masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
  margin-top: 155px;
  margin-bottom: 100px;
}
.masonry-grid-column {
  padding-left: 16px;
  background-clip: padding-box;
}
.masonry-item img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 16px;
}

.VK-link-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.VK-link-container > p {
  font-size: 60px;
  font-weight: 900;
  color: #2B2C2F;
}
.VK-link-container > p > span {
  color: #1941D1;
}
.VK-link-container-BTN {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 800;
  align-items: center;
  background-color: #1941D1;
  padding: 38px 50px;
  border-radius: 38px;
  width: fit-content;
  gap: 20px;
}

/* Страница с командой */
.TeamPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TeamPage > h1{
  align-self: flex-start;
  text-align: start;
  margin-bottom: 0;
}
.TeamPage > p {
  align-self: flex-start;
  font-size: 32px;
  font-weight: 600;
  text-align: start;
  width: 60%;
  margin-bottom: 100px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 327px);
  row-gap: 25px;
  column-gap: 50px; 
  justify-content: center; /* Центрируем всю сетку */
  margin-bottom: 50px;
}
.team-container-spec {
  display: grid;
  grid-template-columns: repeat(2, 327px);
  row-gap: 50px;
  column-gap: 50px; 
}
.team-container > a {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 139px;
  max-width: 327px;
}

.PartOfTeam {
  background-image: url(./img/POT-bg.svg);
  background-repeat: no-repeat;
  padding: 15px 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.PartOfTeam > h3 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 6px;
  color: #28292C;
}
.PartOfTeam > p {
  font-weight: 600;
  font-size: 22px;
  text-align: start;
  color: #28292C;
  width: 90%;
}
.PartOfTeam:hover {
  background-image: url(./img/POT-bg-hover.svg);
}
.PartOfTeam:hover h3,
.PartOfTeam:hover p {
  color: #FFFFFF;
}

/* Страница отдельной комиссии */
.CommissionPage h1 {
  text-transform: uppercase;
  font-weight: 900;
}
.works-container {
  background-image: url(./img/commission-work-bg.png);
  background-color: #FFFFFF;
  border-radius: 30px;
  border: 4px solid #1941D1;
  box-sizing: border-box;
  padding: 108px 27px 43px 44px;
  color: #000000;
  width: fit-content;
  max-width: 671px;
  margin-left: 94px;
}
.works-container > h2 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.works-container > ul {
  margin-bottom: 84px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  line-height: 120%;
  margin-right: 30px;
  margin-left: 26px;
}
.works-container > ul > li {
  font-size: 22px;
  font-weight: 600;
  text-align: start;
}
.fio {
  font-size: 35.71px;
  font-weight: 900;
  color: #1941D1;
  line-height: 90%;
  text-transform: uppercase;
  text-align: start;
}
.desc {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: start;
  margin-bottom: 22px;
}

.social-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
  justify-content: flex-end
}
.social-container > div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.social-container > div > a {
  font-size: 18.59px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1941D1;
}

.CM-image-0 {
  position: absolute;
  top: 175px;
  left: -139px;
  transform: rotate(11.57deg);
  z-index: 1;
}
.CM-image-1 {
  position: absolute;
  top: 265px;
  height: 344px;
  width: 344px;
  overflow: hidden;
  border-radius: 15px;
  left: 847px;
  z-index: 1;
}
.CM-image-2 {
  position: absolute;
  top: 283px;
  right: 317px;
  width: 531px;
  height: 763px;
  transform: rotate(20.08deg);
  overflow: hidden;
  border-radius: 15px;
  z-index: 0;
}
.CM-image-3 {
  position: absolute;
  top: 509px;
  right: -60px;
  transform: rotate(-14.86deg);
  z-index: 1;
}


.CM-image-0 > img {
  width: 411px;
  border-radius: 15px;
}
.CM-image-1 > img {
  max-width: 100%;
  height: auto;
}
.CM-image-2 > img {
  max-height: 100%;
  width: auto;
}
.CM-image-3 > img {
  width: 490px;
  border-radius: 15px;
}

