@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-BLACK.TTF') format('truetype');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-REGULAR.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-SEMIBOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-BOLD.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/MONT-LIGHT.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #ECEFF4;
  color: #28292C;
  padding: 50px 120px 0px;
  font-family: 'Mont';

}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 790px;
  margin-bottom: 37px;
}

.Header > div {
  display: flex;
  gap: 40px;
}

.Header > div > a {
  font-size: 28px;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 37.95px;
}

.EventCard {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: left;
}

.EventCard.reversed {
  flex-direction: row-reverse;
}

.EventCard > div {
  display: flex;
  flex-direction: column;
}

.EventCard > div > h2 {
  font-weight: 950;
  font-size: 48px;
  margin-bottom: 44px;
}

.EventCard > div > p {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 44px;
}

.Button.event-list {
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #1941D1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 30px;
}

.events-list-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 55.95px;
}

.slick-slide {
  width: 600px !important;
  height: 600px !important;
  opacity: 0.6 !important;
}

.slick-center {
  opacity: 0 !important;
}